* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1a1a1a;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  
}

h1 {
  color: #ff6b6b;
  margin-top: 10px;
}

.subtitle {
  color: #6e6e6e;
  margin-top: 5px;

}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.pricing-card {
  border-radius: 15px;
  padding: 30px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 600px;
  width: 300px;
  margin-top: 0px;
  position: relative;
}

.pricing-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.beginner {
  background-color: #262626;
  border: 2px #343434 solid;
  
}

.warrior {
  background-color: #312222;
  border: 2px #5b3131 solid;
}

.champion {
  background-color: #312d1d;
  border: 2px #716227 solid;
}

.card-header {
  margin-top: 0px;

}

.icon {
  margin-top: 10px;
  font-size: xx-large;
  text-align: center;
}

.popular-tag {
  color: black;
  background-color: #ffd93d;
  border-radius: 20px;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: x-small;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  
}

.price-block {
  background-color: #303030;
  padding: 8px 70px;
  margin-top: 20px;
  font-size: x-large;
  text-align: center;
  border-radius: 20px;
}

.price {
  color: #ff6b6b;
  font-weight: 600;
  font-size: xx-large;
}

.period {
  color: #6c6c6c;
  text-transform: uppercase;
  font-size: small;
}
.champion .price-block .price {
  color: #ffd93d;
}

.warrior .price-block {
  background-color: #3c2d2d;
}

.champion .price-block {
  background-color: #3c3829;
}

.features {
  margin-top: 40px;
  font-size: small;
}

.features li {
  color: #b9b6b6;
  list-style: none;
  margin-bottom: 25px;
  
}

.features li.disabled {
  color: #4e4e4e;
}

.join-btn {
  color: #d15c5c;
  background-color: #262626;
  padding: 15px 40px;
  border: 2px #773f3f solid;
  border-radius: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.join-btn:hover {
  transform: translateY(-5px);
}

.warrior .join-btn {
  background-color: #312222;
}

.champion .join-btn {
  border: 2px #f2ce3b solid;
  color: #ebc839;
}

